body {
  margin: 0;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

svg:nth-of-type(1) {
  width: 100%;
  height: 100%;
}

//We create a mixin so we can use the same animation with different values for several elements
@mixin keyframes-animation($anim-name, $clip-url, $rotation0, $rotation25, $rotation50, $rotation75, $pos0, $pos-25, $pos-50, $pos-75) {
  @keyframes #{$anim-name} {
    0% {
      clip-path: url($clip-url);
      transform: scale(0) rotate($rotation0 + deg) translate($pos0 + vw, $pos0 + vh);
      opacity: 0;
    }
    25% {
      clip-path: url($clip-url);
      transform: scale(0.25) rotate($rotation25 + deg) translate($pos-25 + vw, $pos-25 + vh);
      opacity: 0.25;
    }
    50% {
      clip-path: url($clip-url);
      transform: scale(0.5) rotate($rotation50 + deg) translate($pos-50 + vw, $pos-50 + vh);
      opacity: 0.5;
    }
    75% {
      clip-path: url($clip-url);
      transform: scale(0.5) rotate($rotation75 + deg) translate($pos-75 + vw, $pos-75 + vh);
      opacity: 0.75;
    }
    100% {
      clip-path: none;
      transform: scale(1) rotate(0deg) translate(0,0);
      opacity: 1;
    }
  }
}

@keyframes bounce {
  0% {
      transform: rotate(0)
  }

  33% {
      transform: rotate(-5deg)
  }

  66% {
    transform: rotate(5deg)
  }

  100% {
      transform: rotate(0)
  }
}

//Function so we can get a random number within a range (we need negative numbers)
//Source: https://stackoverflow.com/questions/41096204/how-to-generate-a-random-number-within-a-min-and-max-parameters-in-sass
@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  
  @return $randomNum;
}


#plate {
  transform-origin: 50% 80%;
  @include keyframes-animation("bubble-plate", "#blob1", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-plate 2s ease-in;
}

#cup_shadow {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-cup-sh", "#blob2", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-cup-sh 2s ease-in;
}

#cup {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-cup", "#blob3", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-cup 2s ease-in;
}

#tea {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-tea", "#blob4", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-tea 2s ease-in;
}

#teabag {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-teabag", "#blob5", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-teabag 2s ease-in;
}

#bubble1 {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-1", "#blob1", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-1 2s ease-in;
}

#bubble2 {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-2", "#blob2", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-2 2s ease-in;
}

#bubble3 {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-3", "#blob3", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-3 2s ease-in;
}

#leaf1 {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-leaf1", "#blob4", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-leaf1 2s ease-in;
}

#leaf2 {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-leaf2", "#blob5", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-leaf2 2s ease-in;
}

#leaf3 {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-leaf3", "#blob1", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-leaf3 2s ease-in;
}

#tea_overlay {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-tea-ov", "#blob2", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-tea-ov 2s ease-in;
}

#teabag_label {
  transform-origin: 50% 70%;
  @include keyframes-animation("bubble-teabag-lb", "#blob3", random(360), random(360), random(360), random(360), randomNum(-100, 100), randomNum(-100, 100), randomNum(-50, 50), randomNum(-50, 50));
  animation: bubble-teabag-lb 2s ease-in;
}

//TODO add sound??
//and do the last animation separately

svg {
  transform-origin: bottom;
  animation: bounce 2s infinite linear;
  animation-delay: 2s;
}
